@import 'tailwindcss';
@import '@fontsource-variable/onest/wght.css';
@import '@ng-doc/app/styles/global.css';

@import '../../../packages/ui/src/theme.css';
@source '../../../packages';

@theme {
  --font-sans: 'Onest Variable', ui-sans-serif, system-ui, sans-serif;
}

@utility vt-name-* {
  view-transition-name: --value([ *]);
}

:root {
  --ng-doc-demo-displayer-background: var(--color-foreground);
  --ng-doc-guide-tag-background: var(--color-warning-500);
  --ng-doc-api-tag-background: var(--color-danger-500);
  --ng-doc-mark-background: --alpha(var(--color-primary-100) / 10%);
  --ng-doc-base-1: var(--color-foreground);
  --ng-doc-code-background: var(--color-gray-900);
  --ng-doc-app-horizontal-padding: --spacing(3);
  --ng-doc-base-0: var(--color-backdrop);
  --ng-doc-primary: var(--color-primary-500);
  --ng-doc-text-muted: var(--color-secondary);
  --ng-doc-font-system: var(--font-sans);
  --ng-doc-base-10: var(--color-neutral-900);
  --ng-doc-base-2: var(--color-neutral-100);
  --ng-doc-base-3: var(--color-neutral-200);
  --ng-doc-base-4: var(--color-neutral-300);
  --ng-doc-base-5: var(--color-neutral-400);
  --ng-doc-base-6: var(--color-neutral-500);
  --ng-doc-base-7: var(--color-neutral-600);
  --ng-doc-base-8: var(--color-neutral-700);
  --ng-doc-base-9: var(--color-neutral-800);
  --ng-doc-app-max-width: var(--breakpoint-2xl);
  --ng-doc-text: var(--color-main);

  --ng-doc-guide-tag-color: var(--ng-doc-code-background);
  --ng-doc-search-result-color: var(--ng-doc-text-muted);
  --ng-doc-api-tag-color: var(--ng-doc-code-background);
  --ng-doc-string-background: var(--ng-doc-primary);
  --ng-doc-heading-color: var(--ng-doc-text);
  --ng-doc-link-color: var(--ng-doc-primary);
  --ng-doc-info: var(--ng-doc-primary);
}

ul.ngde {
  list-style-type: disc;
  margin-left: calc(var(--ng-doc-base-gutter) * 2);
}

li.ngde::marker {
  color: var(--ng-doc-primary);
}
